<div class="right clearfix header">
  <% if current_user %>
    <div class="col-md-9">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to("home", posts_path)%></li>
      </ul>
    </div>
  <% end -%>
  <div class="col-md-3" style="float:right">
    <ul class="nav navbar-nav pull-right right-navbar-nav">
      <% if current_user %>
        <li><%= link_to(raw("<i class='fa fa-user'></i>&nbsp;#{current_user.email}")) %></li>
        <li><%= link_to(raw('<i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out'), destroy_user_session_path, :method => :delete) %></li>     
      <% else %>
        <li><%= link_to(raw('<i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login'), new_user_session_path) %></li>    
      <% end %>
    </ul>       
  </div>
 <!-- / .navbar-nav -->
</div> <!-- / .right -->