<%= form_for([current_user,@post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control', rows:'5' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :disable_with => 'Submiting...', class: 'btn btn-primary' %>
    <%= link_to 'cancel', posts_path, class: 'btn btn-default' %>
  </div>
<% end %>
