<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="container">
  <% @posts.each do |post| %>
    <div class="well">
        <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag("sticky-post.png")%>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= post.title %></h4>
            <p class="text-right">post by <%= User.find(post.user_id).email %></p>
            <!-- <p><%= raw post.body%></p> -->
            <ul class="list-inline list-unstyled">
          <li><span><i class="fa fa-calendar"></i>&nbsp;&nbsp;<%= time_ago_in_words(post.created_at)%></span></li>
              <li>|</li>
              <span><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= post.comments.count %> <%= link_to 'comments', post %></span>
              <% if user_signed_in? && current_user.id == post.user_id%>
                <li>|</li>
                  <span><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<%= link_to 'Edit', edit_post_path(post) %></span>
                <li>|</li>
                  <span><i class="fa fa-trash-o"></i>&nbsp;&nbsp;<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
              <% end -%>
        </ul>
         </div>
      </div>
    </div>
  <% end -%>
  <%= link_to 'New Post', new_post_path, class:'btn btn-primary' %>
</div>
