/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    background-color: #7fa5a5;
    color: #fff;
/*    font-weight: 600;*/
/*    letter-spacing: 1.5px;*/
/*    padding: 15px 10px;    */
    margin-bottom: 100px;    
    height: 60px;
}

.header .active a{
    height: 60px;
    padding: 18px 30px;
    font-size: 150%
}

.right-navbar-nav li a {
    color: #fff !important;
    padding: 20px 10px;
}
.right-navbar-nav li a:hover{
    text-decoration: none;
    background: transparent;
}

.right-navbar-nav {
    padding-right: 30px;
}